<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>images</key>
		<array>
			<string>food</string>
			<string>2</string>
			<string>3</string>
		</array>
		<key>name</key>
		<string>Cafe 1</string>
		<key>address</key>
		<string>123 ABC, DEF, GHI</string>
		<key>previewText</key>
		<string>Coffe Shop At Da Nang</string>
		<key>detailText</key>
		<string>Coffe Coffe Coffe Coffe Coffe Coffe Coffe Coffe Coffe Coffe Coffe Coffe Coffe Coffe Coffe Coffe Coffe Coffe Coffe Coffe </string>
		<key>coordinates</key>
		<dict>
			<key>x</key>
			<real>16.075365</real>
			<key>y</key>
			<real>108.233753</real>
		</dict>
		<key>isFavorite</key>
		<false/>
	</dict>
	<dict>
		<key>images</key>
		<array>
			<string>food</string>
			<string>2</string>
			<string>3</string>
		</array>
		<key>name</key>
		<string>Cafe 2</string>
		<key>address</key>
		<string>123 ABC, DEF, GHI</string>
		<key>previewText</key>
		<string>Coffe Shop At Da Nang</string>
		<key>detailText</key>
		<string>Coffe Coffe Coffe Coffe Coffe Coffe Coffe Coffe Coffe Coffe Coffe Coffe Coffe Coffe Coffe Coffe Coffe Coffe Coffe Coffe </string>
		<key>coordinates</key>
		<dict>
			<key>x</key>
			<real>16.072324</real>
			<key>y</key>
			<real>108.220258</real>
		</dict>
		<key>isFavorite</key>
		<false/>
	</dict>
	<dict>
		<key>images</key>
		<array>
			<string>food</string>
			<string>2</string>
			<string>3</string>
		</array>
		<key>name</key>
		<string>Cafe 3</string>
		<key>address</key>
		<string>123 ABC, DEF, GHI</string>
		<key>previewText</key>
		<string>Coffe Shop At Da Nang</string>
		<key>detailText</key>
		<string>Coffe Coffe Coffe Coffe Coffe Coffe Coffe Coffe Coffe Coffe Coffe Coffe Coffe Coffe Coffe Coffe Coffe Coffe Coffe Coffe </string>
		<key>coordinates</key>
		<dict>
			<key>x</key>
			<real>16.068678</real>
			<key>y</key>
			<real>108.23515</real>
		</dict>
		<key>isFavorite</key>
		<false/>
	</dict>
	<dict>
		<key>images</key>
		<array>
			<string>food</string>
			<string>2</string>
			<string>3</string>
		</array>
		<key>name</key>
		<string>Cafe 4</string>
		<key>address</key>
		<string>123 ABC, DEF, GHI</string>
		<key>previewText</key>
		<string>Coffe Shop At Da Nang</string>
		<key>detailText</key>
		<string>Coffe Coffe Coffe Coffe Coffe Coffe Coffe Coffe Coffe Coffe Coffe Coffe Coffe Coffe Coffe Coffe Coffe Coffe Coffe Coffe </string>
		<key>coordinates</key>
		<dict>
			<key>x</key>
			<real>16.068593</real>
			<key>y</key>
			<real>108.223942</real>
		</dict>
		<key>isFavorite</key>
		<true/>
	</dict>
	<dict>
		<key>images</key>
		<array>
			<string>food</string>
			<string>2</string>
			<string>3</string>
		</array>
		<key>name</key>
		<string>Cafe 5</string>
		<key>address</key>
		<string>69 Nguyễn Chí Thanh, Hải Châu, Đà Nẵng</string>
		<key>previewText</key>
		<string>Coffe Shop At Da Nang</string>
		<key>detailText</key>
		<string>Coffe Coffe Coffe Coffe Coffe Coffe Coffe Coffe Coffe Coffe Coffe Coffe Coffe Coffe Coffe Coffe Coffe Coffe Coffe Coffe </string>
		<key>coordinates</key>
		<dict>
			<key>x</key>
			<real>16.076585</real>
			<key>y</key>
			<real>108.224163</real>
		</dict>
		<key>isFavorite</key>
		<false/>
	</dict>
	<dict>
		<key>images</key>
		<array>
			<string>food</string>
			<string>2</string>
			<string>3</string>
		</array>
		<key>name</key>
		<string>Cafe 6</string>
		<key>address</key>
		<string>123 ABC, DEF, GHI</string>
		<key>previewText</key>
		<string>Coffe Shop At Da Nang</string>
		<key>detailText</key>
		<string>Coffe Coffe Coffe Coffe Coffe Coffe Coffe Coffe Coffe Coffe Coffe Coffe Coffe Coffe Coffe Coffe Coffe Coffe Coffe Coffe </string>
		<key>coordinates</key>
		<dict>
			<key>x</key>
			<real>16.068358</real>
			<key>y</key>
			<real>108.229058</real>
		</dict>
		<key>isFavorite</key>
		<false/>
	</dict>
</array>
</plist>
