<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ceos</key>
	<array>
		<dict>
			<key>name</key>
			<string>Ceo. ABC</string>
			<key>age</key>
			<integer>31</integer>
			<key>avatar</key>
			<string>3</string>
			<key>gender</key>
			<true/>
			<key>avatarPath</key>
			<string></string>
		</dict>
	</array>
	<key>managers</key>
	<array>
		<dict>
			<key>avatar</key>
			<string>1</string>
			<key>name</key>
			<string>John Smith.</string>
			<key>age</key>
			<integer>18</integer>
			<key>gender</key>
			<true/>
			<key>avatarPath</key>
			<string></string>
			<key>salary</key>
			<integer>5000000</integer>
		</dict>
		<dict>
			<key>avatar</key>
			<string>2</string>
			<key>name</key>
			<string>Janes</string>
			<key>age</key>
			<integer>20</integer>
			<key>gender</key>
			<false/>
			<key>avatarPath</key>
			<string></string>
			<key>salary</key>
			<integer>6000000</integer>
		</dict>
		<dict>
			<key>avatar</key>
			<string>2</string>
			<key>name</key>
			<string>Janes</string>
			<key>age</key>
			<integer>20</integer>
			<key>gender</key>
			<false/>
			<key>avatarPath</key>
			<string></string>
			<key>salary</key>
			<integer>6000000</integer>
		</dict>
		<dict>
			<key>avatar</key>
			<string>2</string>
			<key>name</key>
			<string>Janes</string>
			<key>age</key>
			<integer>20</integer>
			<key>gender</key>
			<false/>
			<key>avatarPath</key>
			<string></string>
			<key>salary</key>
			<integer>6000000</integer>
		</dict>
		<dict>
			<key>avatar</key>
			<string>2</string>
			<key>name</key>
			<string>Janes</string>
			<key>age</key>
			<integer>20</integer>
			<key>gender</key>
			<false/>
			<key>avatarPath</key>
			<string></string>
			<key>salary</key>
			<integer>6000000</integer>
		</dict>
		<dict>
			<key>avatar</key>
			<string>2</string>
			<key>name</key>
			<string>Janes</string>
			<key>age</key>
			<integer>20</integer>
			<key>gender</key>
			<false/>
			<key>avatarPath</key>
			<string></string>
			<key>salary</key>
			<integer>6000000</integer>
		</dict>
		<dict>
			<key>avatar</key>
			<string>2</string>
			<key>name</key>
			<string>Janes</string>
			<key>age</key>
			<integer>20</integer>
			<key>gender</key>
			<false/>
			<key>avatarPath</key>
			<string></string>
			<key>salary</key>
			<integer>6000000</integer>
		</dict>
	</array>
</dict>
</plist>
